body {
    background-image: url(peakpx_1.jpg);
    color: #FFFFFF;
    background-repeat: no-repeat;
    background-clip: border-box;
}

#nombres {
    float:left;
}

#fecha {
    padding-left: 20%;
    float:right
}