<!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="style.css">
                <title>Práctica Acceso a Datos 01</title>
            </head>
            <body>
                <!--Archivo "Resumen_distrito"-->
                <h1 align="center" >Historial de recogida de basura y reciclaje de (inserte distrito) </h1>
                <br>
                <div id="contenedor">
                    <h5>Contenedores por tipo en (inserte distrito): </h5>
                    <p>(inserte contenedores de distrito)</p>

                    <br>
                    <h5>Toneladas de residuo totales recogidas en (inserte distrito)</h5>
                    <p>(inserte toneladas de residuo del distrito)</p>

                    <p>
                        <h4>(_gráfico_) Toneladas totales de residuo recogidas en (inserte distrito)</h4>

                    </p>

                    <p align="left">
                        <h4>Máximo, mínimo, media y desviación por mes por residuo en (inserte distrito)</h5>
                        <i>Máximo: </i>
                        <br>
                        <i>Mínimo: </i> (inserte los datos wey)
                        <br>
                        <i>Media: </i>
                        <br>
                        <i>Desviación: </i>
                        </h4>
                
                        <h4>(_gráfico_)Máximo, mínimo y media por meses en (inserte distrito)</h4>
                    </p>
                    <p align="right">Tiempo de generación del mismo en milisegundos: <i>(insertar tiempo que ha tardado)</i></p>
                </div>
                <br>
                <!-- los id son para definirlos en la misma línea del html generado a través del css3-->
                <div id="nombres">
                    <strong>Iván Azagra y Daniel Rodríguez</strong>
                </div>
                <div id="fecha">
                    (inserte fecha de generación en formato español)
                </div>
                
                
            </body>
            </html>